<section class="hero">
  <div class="container">
    <div class="hero__eyebrow">Secuenciador MIDI</div>
    <h1 class="hero__title">Obrero</h1>
    <p class="hero__lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hardware y software para composición y secuenciación MIDI. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <div class="hero__actions">
      <a class="hero__cta hero__cta--primary" href="{{ get_url(path='/cosoteca/') }}">Ver cosoteca</a>
      <a class="hero__cta hero__cta--secondary" href="#features">Conocer más</a>
    </div>
  </div>
</section>
